<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.amila.autocare">

    <!--
         The ACCESS_COARSE/FINE_LOCATION permissions are not required to use
         Google Maps Android API v2, but you must specify either coarse or fine
         location permissions for the 'MyLocation' functionality. 
    -->
    <uses-permission android:name="com.androidtutorialpoint.mymapsappsdirection.permission.MAPS_RECEIVE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="com.google.android.providers.gsf.permission.READ_GSERVICES" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <uses-library android:name="com.google.android.maps" />

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyDRdJmP7tF2lBu8kegWdBLqr-SoWi7Uc8I" />
        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />

        <service android:name=".Views.Reminders.NotifyService" />
        <service android:name=".Views.Reminders.ScheduleService" />

        <activity
            android:name=".Views.Start.MainActivity"
            android:theme="@style/autocare">
            <intent-filter>
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Views.Start.signup"
            android:launchMode="singleInstance"
            android:theme="@style/autocare">
            <intent-filter>
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Views.Start.home"
            android:theme="@style/autocare">
            <intent-filter>
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Views.Start.profile"
            android:theme="@style/autocare">
            <intent-filter>
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Views.Start.phone_number_request"
            android:theme="@style/autocare">
            <intent-filter>
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Views.Start.navigationDrawer"
            android:label="@string/title_activity_navigation_drawer"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".Views.ManageVehicles.add_edit_vehicle">
            <intent-filter>
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Views.search_for_places.searchForPlaces"
            android:label="@string/title_activity_search_for_places" />
        <activity android:name=".Views.Reminders.ReminderActivity" />
        <activity android:name=".Views.Expenses.add_expense" />
        <activity android:name=".Views.ManageVehicles.ViewVehicle" />
        <activity android:name=".Views.Expenses.ViewExpense" />
        <activity android:name=".Views.offers.ViewOffers" />

        <receiver
            android:name=".Views.Reminders.ResetNotifications"
            android:enabled="true"
            android:exported="true"
            android:label="ResetNotifications">
            <intent-filter>
                <action android:name="android.intent.action.AIRPLANE_MODE" />
            </intent-filter>
        </receiver>

        <activity android:name=".Views.Website.website_details"></activity>
    </application>

</manifest>